@import url('../Pages/Welcome/Styles/welcomePage.css');
@import url('../Pages/AddProduct/Styles/AddProduct.css');

:root{
    font-family: 'Times New Roman', Times, serif;
    background-image: url('../Assets/Images/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: #333;
}
.hidden{
    display: none;
}